<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO!Sync HTML</title>
		<!-- Styles -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
		<!-- Styles -->
</head>
<body>

		<!-- Header -->
		<div class="header">Header here</div>
		<!-- Header -->

		<!-- Content -->
		<div class="main">
			<div class="container">Content here</div>
		</div>

		<!-- Content -->

		<!-- Footer -->
    <div class="footer">Footer here</div>
		<!-- Footer -->

		<!-- Javascripts sources -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/scripts.min.js"></script>
		<!-- Javascripts sources -->

</body>
</html>
